<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My First HTML5 Page</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>My First HTML5 Page</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="page2.html">Page 2</a></li>
        <li><a href="page3.html">Page 3</a></li>
      </ul>
    </nav>
    <section>
      <h2>Section 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod,
        nisl eget ultricies ultricies, nunc elit aliquet nunc, vel tincidunt
        nisl velit s it amet nu l lam.
      </p>
    </section>
    <section>
      <h2>Section 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod,
        nisl eget ultricies ultricies, nunc elit aliquet nunc, vel tincidunt
        nisl velit sit amet nul lam.
      </p>
    </section>

    <footer>
      <p>&copy; 2014 My First HTML5 Page</p>
    </footer>
  </body>
</html>
