# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.class
*.sm

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.jar` in `bin` dir
!*/bin/*.jar

# Ignore all `library.jar` in `bin` dir
*/bin/library.jar

# Ignore a file with extension
relative/path/to/dir/filename.extension

# Ignore a file without extension
relative/path/to/dir/anotherfile

.DS_Store
.trunk/
.vscode/

grpc/

grpc/
*/*/build/*

*/*/*/build/

# Ignore all files in `bin` dir
bin/*
*/env/*
```
**Note:** `!*/bin/*.jar` will not work if `bin` dir is ignored. So, you have to unignore `bin` dir first.

### Ignore all files in a dir except one file
```
# Ignore all files in `bin` dir
bin/*
*/__pycache__/*.pyc

*/__pycache__/

*/__pycache__/*
*/*/__pycache__/
*/*/__pycache__/*

grpc/

*/*/target/*
*/*/target/

*/target/
*/*/target/
*/*/*/target/

*/*/build/*
*/*/build/

*/*/*/build/
*/*/*/build/*

*/*/build/
*/*/*/build/